.app {
	background: rgb(107, 48, 116);
	height: 10vh;
	min-height: max-content;
	background: linear-gradient(90deg, rgba(107, 48, 116, 0.76234243697479) 0%, rgba(107, 48, 116, 0.7651435574229692) 46%, rgba(134, 163, 195, 0.935171568627451) 100%);
	width: 90%;
	margin: 1% auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border: 2px solid var(--color-secondary);
	border-radius: 10px;
	flex-wrap: wrap;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: large;
}

.imageUpload {
	width: 33%;
	min-width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.imageUpload input {
	width: 100%;
	margin: 1% 0;
}

.image {
	width: 33%;
	height: auto;
	max-height: 80%;
	object-fit: contain;
}

.imageUpload input[type='submit'] {
	width: 33%;
	margin: 0 auto;
}

.inputs {
	width: 33%;
}

.rightInput {
	margin: 1% 0;
}
